.pagination-container{
    display: flex;
    position: relative;
    top: 60px;
    flex: 0 0 auto;
    margin: 10px 0 10px;
    caret-color: transparent;
}

/* Перевизначаємо папаметри bootstrap */

.page-link {
    color: #ffc2d1;
    cursor: pointer;
    
}

.page-link:hover {
    color: #fb6f92;
}

.page-item.active .page-link {
    background-color: #ffc2d1;
    border-color: #fb6f92;
}
